.body_right-support{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.body_right-support_items{
    width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 6px;
    padding: 15px 20px;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}
.support_items-title{
    font-size: 18px;
}
.support_items_child{
    display: flex;
    margin-top: 10px;
    font-size: 18px;
}
.support_items_child-1{
    padding: 5px 15px;
    margin-right: 10px;
    color: rgb(125, 135, 156);
}
.support_items_child-status-red{
    border-radius: 20px;
    background-color: #ffa9b8;
    color: rgb(233, 69, 96);
}
.support_items_child-status-green{
    border-radius: 20px;
    background-color: #a9ffb8;
    color: rgb(51, 208, 103);
}
.support_items_child-status-gray{
    border-radius: 20px;
    background-color: #d0d0d0;
    color: rgb(132, 132, 132);
}
.support_items_icon{
    width: 47px;
    height: 47px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}
.support_items_icon:hover{
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}
.support_items_icon-link{
    text-decoration: none;
    color: black;
}